body {
  background-image: url("../img/background3.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: 5px;

}
/* layout */
.main-layout {
  margin: 0 auto;
}

section {
  margin-bottom: 80px;
}

.container {
  max-width: 1100px;
}

/* ========================
   NAVBAR
======================== */
.nav-box {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

/* LOGO PERFECTAMENTE CENTRADO */
.logo-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* LINKS */
.nav-link {
  color: white;
  transition: 0.3s;
}

.nav-link:hover {
  color: #aaa;
}

/* LOGO */
.brand {
  color: white;
  transition: 0.3s;
}

.brand:hover {
  letter-spacing: 2px;
}

/* BOTÓN */
.btn-sound {
  border-radius: 50%;
  padding: 2px;
}
/* MOBILE */
@media (max-width: 768px) {

  .nav-box {
    flex-direction: column;
    gap: 10px;
  }

  /* logo vuelve al flujo normal */
  .logo-center {
    position: static;
    transform: none;
  }

  /* centrar todo */
  .nav {
    justify-content: center;
  }
}
/* ========================
   HERO
======================== */

.hero-box{
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 40px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.08);
  max-width: 1100px;
  margin: 0 auto;
  
}
/* HERO */
.hero-box {
  width: 100%;
}

/* VIDEO */
.video-play {
 margin: 0;
 padding: 0;
}

.video-hero {
  width: 100%;
  max-height: fit-content;
  
  border-radius: 10px;
}

/* BOTÓN SONIDO */
.btn-sound {
  border-radius: 50%;
  padding: 8px;
  opacity: 0.8;
}

.btn-sound:hover {
  opacity: 1;
}
